header,
main {
  width: 1154px;
  margin: auto;
}

.root {
  overflow-x: hidden;
  font-family: "GT Pressura Pro Trial-Light", Helvetica;
  background-color: #323231;
  color: #fff;
}

.h-1 {
  font-size: 72px;
  margin: 91px 0 21px;
  padding-left: 157px;
}

.h-2 {
  font-size: 40px;
  margin: 33px 0 13.5px;
}

.header {
  padding-bottom: 106.5px;
}

.main {
  padding-top: 31px;
}

.header-line {
  border-bottom: 1.5px solid;
  border-bottom-color: #e88ed9;
}

.header-line + .header-line {
  margin-top: 12px;
}

.decor-line {
  border-bottom: 1px solid;
  border-bottom-color: #c0ff71;
}

.navbar {
  padding: 57px 0;
  color: #c0ff71;
  font-family: "Times New Roman", serif;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding-left: 271px;
  gap: 54px;
}

.navbar a {
  color: currentColor;
  text-decoration: none;
}

.intro {
  display: flex;
  align-items: start;
  gap: 100px;
  font-size: 32px;
  line-height: 1;
  color:#c0ff71;
}

.intro-p {
  width: 326px;
  margin: 32px 0;
  flex: none;
  padding: 4.5px 0;
}

.intro-p a {
  color: #e88ed9;
}

.photo {
  border: 0.5px solid;
  border-color: transparent;
}

.services {
  width: 424px;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 18px 20px;
}

.services span {
    border: 1px solid;
    border-color: #e88ed9;
    border-radius: 57px;
    padding: 7px 36px 8px;
    letter-spacing: 0.64px;
}

.overlap-group {
    margin-top: 69px;
    position: relative;
  }

.about-content {
  width: 700px;
}

.about-p {
  font-size: 20px;
  margin-bottom: 20px;
  padding: 20px 0;
}

.overlap-group .vector-1 {
  height: 250px;
  left: 673px;
  position: absolute;
  top: 78px;
  width: 560px;
}

.overlap-group .vector-2 {
  height: 305px;
  left: 700px;
  position: absolute;
  top: 10px;
  width: 534px;
}

.overlap-group .vector-3 {
  height: 305px;
  left: 700px;
  position: absolute;
  top: 38px;
  width: 534px;
}

.overlap-group .vector-4 {
  height: 250px;
  left: 680px;
  position: absolute;
  top: 106px;
  width: 553px;
}

.portfolio {
  margin: 269px 0 166px;
}

.project {
  display: flex;
  gap: 120px;
  padding: 27px 0;
}

.project-image {
  height: 285px;
  width: 380px;
}

.project-info {
  flex-grow: 1;
  position: relative;
}

.project-h {
  font-size: 24px;
  position: absolute;
  top: -25.5px;
  left: 0;
}

.project-p {
  font-family: "Times New Roman", serif;
  position: absolute;
  top: -17.5px;
  right: 0;
}

.project-p-1 {
  right: 93px;
}

.project-link {
  font-family: "Times New Roman", serif;
  position: absolute;
  bottom: 4.5px;
}

.view-link {
  text-align: center;
  border: 1px solid;
  border-color: #e88ed9;
  border-radius: 100px;
  color: white;
  padding: 9px 49px 10px;
  text-decoration: none;
}

.info-content {
  margin: 71px 0 161.5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.info-p {
  width: 534px;
  min-height: 48px;
  margin-bottom: 27px;
  padding: 20px;
  border: 1px solid;
  border-color: #e88ed9;
  font-size: 20px;
  letter-spacing: 0;
}

.contact-info-dl {
  padding: 30px 0 96px;
  display: flex;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  align-items: baseline;
}

.contact-info dt {
  font-size: 24px;
  font-weight: 700;
}

.contact-info dd {
  font-family: "Times New Roman", serif;
}