:root {
  /* sizes */
  --page-width: 1170px;
  
  /* fonts */
  --base-font-family: "GT Pressura Pro Trial-Light", Helvetica, sans-serif;
  --footnote-font-family: "Times New Roman", Times, serif;

  /* colors */
  --foreground-color: #ffffff;
  --background-color: #323231;
  --primary-color: #c0ff71;
  --secondary-color: #e88ed9;
  --info-color: #c0ff7108;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--base-font-family);
  overflow-x: hidden;
}

.root {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

.h1 {
  font-size: 72px;
  margin: 56px 0;
  padding-right: 80px;
  text-align: center;
}

.h2 {
  font-size: 40px;
  margin-bottom: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid;
  border-bottom-color: var(--primary-color);
}

.h3 {
  font-size: 24px;
}

.header, 
.main {
  width: var(--page-width);
  max-width: 98%;
  margin: auto;
}

.header {
  margin-bottom: 150px;
  padding-bottom: 100px;
}

.header::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 13px;
  margin-top: 100px;
  border-top: 1.5px solid var(--secondary-color);
  border-bottom: 1.5px solid var(--secondary-color);
} 

.navbar {
  padding: 50px 80px 60px 0;
  color: var(--primary-color);
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 54px;
}

.navbar a {
  color: currentColor;
  text-decoration: none;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  line-height: 1;
  color:var(--primary-color);
}

.intro-p {
  width: 326px;
  margin: 32px 0;
  flex: none;
}

.intro-p a {
  color: var(--secondary-color);
}

.photo {
  border-radius: 8px;
}

.services {
  width: 424px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 18px 20px;
}

.services span {
  border: 1px solid;
  border-color: var(--secondary-color);
  border-radius: 57px;
  padding: 7px 36px 8px;
  letter-spacing: 0.64px;
}

.about-content {
  margin-top: 36px;
  padding-bottom: 150px;
  width: 100vw;
  background: 
      url('img/vector-1.svg') no-repeat top 80px left 673px,
      url('img/vector-2.svg') no-repeat top 10px left 700px,
      url('img/vector-1.svg') no-repeat top 108px left 680px,
      url('img/vector-2.svg') no-repeat top 38px left 700px;
}

.about-p {
  width: 700px;
  font-size: 20px;
  margin-bottom: 16px;
  padding: 20px 0;
}

.project-section {
  margin-bottom: 150px;
}

.project {
  display: flex;
  gap: 120px;
  padding: 36px 0;
  border-bottom: 1px solid;
  border-bottom-color: var(--primary-color);
}

.project:last-of-type {
  border-bottom: none;
}

.project-image {
  height: 285px;
  width: 380px;
  border-radius: 8px;
}

.project-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 18px;
}

.project-info p {
  flex-grow: 1;
}

.view-link {
  padding: 9px 49px 10px;
  text-align: center;
  text-decoration: none;
  border: 1px solid;
  border-color: var(--secondary-color);
  border-radius: 57px;
  color: white;
}

.info-section {
  margin-bottom: 180px;
}

.info-content {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info-p {
  height: 60px;
  padding: 20px;
  border-left: 4px solid;
  border-left-color: var(--secondary-color);
  background-color: var(--info-color);
  font-size: 20px;
  letter-spacing: 0;
}

.contact-info-dl {
  padding: 24px 0 36px;
  display: flex;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  align-items: baseline;
  gap: 24px;
}

.contact-info dt {
  font-size: 24px;
  font-weight: 700;
}

.contact-info dd {
  font-family: var(--footnote-font-family);
}